*log
!011_hive_ranger/trino/etc/catalog
*.class
*.st
.idea
.class
mongodb/data


*target
*data-docker
.vscode
*.vagrant
201_kafka/data
004_spark/vtp/entrypoint.sh
*.venv

*volumes
*debezium-con*

*apt.conf
*nifi-1.20.0-bin.zip
006_hbase-hadoop/docker/hadoop-3.3.5.tar.gz
006_hbase-hadoop/docker/hbase-2.4.17-bin.tar.gz

*hadoop-3.3.5.tar.gz
*hive-standalone-metastore-3.0.0-bin.tar.gz
*apache-hive-3.1.3-bin.tar.gz
*postgresql-42.5.4.jar
011_hive_ranger/postgre/.tmp
*jdk-17_linux-x64_bin.tar.gz
011_hive_ranger/*.tar.gz*

009_hadoop_authen/nifi/conf

010_test

*wgetrc

204_datahub/datahub-0.13.3
204_datahub/v0.13.3.zip

204_datahub/docker

006_hbase-hadoop/docker/phoenix-hbase-2.4-5.1.3-bin.tar.gz
006_hbase-hadoop/docker/*.jar