*log
*.class
*.st
.idea
.class
mongodb/data


*target
*data-docker
.vscode
*.vagrant
201_kafka/data
004_spark/vtp/entrypoint.sh
*.venv

*volumes
*debezium-con*

*apt.conf
*nifi-1.20.0-bin.zip


*hadoop-3.3.5.tar.gz

009_hadoop_authen/nifi/conf
