*log
!011_hive_ranger/trino/etc/catalog
*.class
*.st
.idea
.class
mongodb/data


*target
*data-docker
.vscode
*.vagrant
201_kafka/data
004_spark/vtp/entrypoint.sh
*.venv

*volumes
*debezium-con*

*apt.conf
*nifi-1.20.0-bin.zip


*hadoop-3.3.5.tar.gz
*hive-standalone-metastore-3.0.0-bin.tar.gz
*apache-hive-3.1.3-bin.tar.gz
*postgresql-42.5.4.jar
011_hive_ranger/postgre/.tmp
*jdk-17_linux-x64_bin.tar.gz
011_hive_ranger/*.tar.gz

009_hadoop_authen/nifi/conf

010_test

*wgetrc

