version: '3.7'

services:
  my-mongodb:
    image: mongo:5.0.3
    container_name: my-mongodb-name
    ports:
      - 27017:27017
    environment:
      - MONGO_INITDB_DATABASE=test
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=admin
    volumes: 
      # named volumes
      - ./data/db:/data/db
      - ./data/configdb:/data/configdb
